<%- include('partials/header') -%>

  <% if (locals.user) { %>
    <h1 class="text-4xl mb-4">Welcome <%= user.nickname %></h1>

    <% if (user.picture) { %>
      <img class="block py-3" src="<%= user.picture %>" width="300">
    <% } %>
    
    <pre class="block bg-black p-4 text-base text-white w-3/4 text-wrap overflow-scroll"><%= userProfile %></pre>
  <% } else { %>
    <H1 class="text-4xl mb-4">🛑 認証されていない状態でこのページは表示されるべきではありません。</H1>
  <% } %>
<%- include('partials/footer') -%>
